body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info {
    text-align: center;
    color: #222222;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.f-info-links a {
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-social {
    width: 100%;
    font-size: 1.2rem;
}

.f-info-links {
    width: 100%;
}

/* card */
.card-listing {
    margin-bottom: 2rem;
    border: none !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.Listing_link {
    text-decoration: none !important;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* show */
.show-img {
    height: 30vh !important;
}

.btns {
    display: flex !important;
}

.card-data {
    list-style-type: none;
}

.btn_col {
    background-color: #fe424d !important;
}

/* map */
#map {
    width: 40vw;
    height: 32vh;
}

#filters {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

#filters a {
    text-decoration: none;
    color: #007bff;
}

.tax-infos {
    display: none;
}